.additionally {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
  }
}

.additionally__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
  
}

.additionally li {
  position: relative;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    width: 220px;
    margin-right: 123px;
    margin-bottom: 32px;
    line-height: 40px;
  }

  &:nth-child(2n) {
    margin-right: 0;
  }
}

.additionally label {
  margin-left: 45px;

  @media (min-width: $tablet-width) {
    margin-left: 59px;
  }
}

.additionally__checkbox + label::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  top: 1px;
  left: 1px;
  border: 1px solid #CDCDCD;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.additionally__checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 16px;
  top: 8px;
  left: 5px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 14px;
    top: 14px;
    left: 12px;
  }
}