.advantages__list {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 47px;
  padding: 0;
  list-style: none;
}

.advantages__item {
  position: relative;
  margin-bottom: 26px;
  padding-left: 80px;
  font-family: "Arial", sans-serif;
  
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    top: -1px;
    left: 0px;
    background: #68B738;   
  }

  &--leaf::after {
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 3px;
    left: 5px;
    background-image: url("/img/advantage-leaf@1x.png");
    background-repeat: no-repeat;  
  }

  &--powder::after {
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 3px;
    left: 5px;
    background-image: url("/img/advantage-powder@1x.png");
    background-repeat: no-repeat;  
  }

  &--dining::after {
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 3px;
    left: 5px;
    background-image: url("/img/advantage-dining@1x.png");
    background-repeat: no-repeat;  
  }

  &--clock::after {
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 3px;
    left: 5px;
    background-image: url("/img/advantage-clock@1x.png");
    background-repeat: no-repeat;  
  }
}