.catalog-list {
  margin: 0 -20px;
  padding: 0;
  list-style: none;
}

.catalog-list__item {
  margin-bottom: 24px;
  padding: 0 20px;
  font: inherit;
  border-top: 1px solid #D9D9D9;

  // &:last-child {
  //   border-bottom: 1px solid #D9D9D9;
  // }
}


.catalog-list__wrapper {
  display: flex;
  margin: 0;
  padding: 0;
}

// Для выравнивания - ссылка увеличивает высоту на 3px 
.catalog-list__wrapper a {
  height: 144px;
}

.catalog-list__title {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 15px;
  width: 80px;
}

.catalog-list__title a {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
}

.catalog-list__button {
  font-size: 16px;
}

.catalog__more-product {
  margin: 0 -20px;
}



