.comments {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-top: 18px;
    margin-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 62px;
  }
}

.comments__text-area {
  width: 280px;
  min-height: 150px;
  padding: 13px;
  text-transform: uppercase;
  outline: 1px solid #e7e7e7;
  border: none;

  @media (min-width: $tablet-width) {
    width: 631px;
    min-height: 174px;
    padding: 10px 17px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}
