.contact-details {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-top: 20px;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 46px;
  }
}

.contact-details ul {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 1220px;
  }
}

.contact-details li {
  position: relative;

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.contact-details input {
  margin-left: 10px;
  padding-left: 12px;
  padding-right: 35px;

  @media (min-width: $tablet-width) {
    margin-left: 17px;
    padding-left: 18px;
  }

  &:focus + .contact-details__link,
  &:active + .contact-details__link {
    color: #68b738;
  }

  &:invalid + .contact-details__link {
    color: #ff8282;
  }
}

.contact-details__link {
  color: #222222;
}

.contact-details__link-icon {
  position: absolute;
  width: 18px;
  height: 14px;
  left: auto;
  right: 15px;
  top: 16px;
  color: inherit;

  @media (min-width: $tablet-width) {
    width: 22px;
    top: 18px;
  }

  @media (min-width: $desktop-width) {
    right: 18px;
  }

  &--phone {
    width: 20px;
    height: 20px;
    top: 13px;

    @media (min-width: $tablet-width) {
      top: 15px;
    }
  }
}
