.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  padding-top: 14px;
  color: inherit;

  & p {
    font: inherit;
  }

  &:hover &-icon {
    color: #68b738;
  }

  &:active {
    opacity: 0.3;
    &-icon {
      color: #68b738;
      opacity: 0.3;
    }
  }

  &-icon {
    color: #666666;
    @media (min-width: $tablet-width) {
      margin-left: 24px;
    }
  }
}
