.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__link {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: inherit;
   
  &:active {
    opacity: 0.3;
  }

  &-icon svg {

    @media (min-width: $tablet-width) {
      margin-left: 24px;
    }
    &:hover,
    &:focus {
      fill: #68B738;
    }

    &:active {
      fill: #68B738;
      opacity: 0.3;
    }
  }
}