.main-nav {
  
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // padding: 10px 0 15px;
}

.main-nav__toggle {
  width: 18px;
  height: 18px;
  border: none;
  // display: inline-block;
  // vertical-align: middle;
  // position: absolute;
  // right: 3px;
  // top: -42px;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
 
}

.main-nav__wrapper {
  margin: 0 -20px;
}
