.main-nav {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__toggle {
  width: 18px;
  height: 18px;
  border: none;
  // display: inline-block;
  // vertical-align: middle;
  // position: absolute;
  // right: 3px;
  // top: -42px;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

