.page-header {
  position: relative;

  &--main {
    &::after {
      @media (min-width: $desktop-width) {
        content: "";
        display: block;
        position: absolute;
        width: 50%;
        min-height: 694px;
        top: 0;
        right: 0;
        background-color: #65a93c;
        z-index: -3;
      }
    }
  }
}



