.programs {
  padding: 10px 0;
  
  @media (min-width: $tablet-width) {
    margin-bottom: 5px;
  }
}

.programs .container {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }

}