.properties {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    width: 252px;
    font-size: 16px;
    line-height: 31px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
  }
}

.properties tr {
  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #CDCDCD;
  }
}

.properties__field {
  width: 70px;
}

.properties__value {
  width: 70px;
  text-align: right;
}
