.questionnaire {
  overflow: hidden;
}

.questionnaire-form {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border-color: #e7e7e7;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.questionnaire-form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.questionnaire-form__title {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 34px;
  font-size: 24px;
  line-height: 26px;
  text-align: left;
  text-transform: none;
  color: #000000;

  &::before {
    content: "";
    position: absolute;
    width: calc(100% + 53px);
    height: 100%;
    left: -30px;
    top: 0;
    background: #ffffff;
    z-index: -1;

    @media (min-width: $tablet-width) {
      width: calc(100% + 80px);
      left: -40px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 2px;
    background-color: #68b738;
    left: 0;
    top: 50%;
    z-index: -2;
    margin-top: 2px;

    @media (min-width: $tablet-width) {
      width: 300vw;
      left: -100vw;
      margin-top: 4px;
    }
  }

  &--contacts {
    max-width: 178px;

    &::after {
      margin-top: -9px;

      @media (min-width: $tablet-width) {
        margin-top: 4px;
      }
    }

    @media (min-width: $tablet-width) {
      max-width: 100%;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
    font-size: 36px;
    line-height: 36px;
  }
}

.questionnaire-form__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.questionnaire-form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.questionnaire-form li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.questionnaire-form input {
  flex-grow: 1;
  margin-left: 14px;
  padding-left: 15px;
  min-height: 43px;
  font-family: inherit;
  font-size: 16px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e7e7e7;
  outline: none;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:active,
  &:focus {
    border: 2px solid #444444;
  }

  &:invalid {
    border: 2px solid #ff8282;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    min-height: 52px;
    margin-left: 19px;
    padding-left: 18px;
  }
}

.questionnaire-form input:active + label {
  opacity: 0.3;
}

.questionnaire-form label {
  cursor: pointer;
  user-select: none;
}

.questionnaire-form__submit-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 61px;
  }
}

.questionnaire-form__button {
  width: 100%;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    width: 282px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.questionnaire-form__required {
  margin: 0;
  margin-left: 62px;
  margin-bottom: 32px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;

  @media (min-width: $tablet-width) {
    margin-left: 62px;
    padding-top: 18px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 82px;
  }
}
