.questionnaire-form {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border-color: #E7E7E7;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.questionnaire-form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.questionnaire-form legend {
  margin-bottom: 34px;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
    font-size: 36px;
    line-height: 36px;
  }
}

.questionnaire-form__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.questionnaire-form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.questionnaire-form li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.questionnaire-form input {
  flex-grow: 1;
  margin-left: 14px;
  padding-left: 15px;
  min-height: 43px;
  font-family: inherit;
  font-size: 16px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #E7E7E7;
  outline: none;

  &:hover {
    border: 1px solid #CDCDCD;
  }

  &:active,
  &:focus {
    border: 2px solid #444444;
  }

  &:invalid {
    border: 2px solid #FF8282;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    min-height: 52px;
    margin-left: 19px;
    padding-left: 18px;
  }
}

.questionnaire-form input:active + label {
  opacity: 0.3;
}

.questionnaire-form label {
  cursor: pointer;
  user-select: none;
}

.questionnaire-form__submit-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 61px;
  }
}

.questionnaire-form__button {
  width: 100%;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    width: 282px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.questionnaire-form__required {
  margin: 0;
  margin-left: 62px;
  margin-bottom: 32px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;

  @media (min-width: $tablet-width) {
    margin-left: 62px;
    padding-top: 18px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 82px;
  }
}