.select-program {
  margin: 24px -20px 26px;
  padding: 21px 0 7px;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;

  @media (min-width: $tablet-width) {
    margin: 72px 0 75px;
    padding: 25px 0 10px;
    border: 1px solid #D9D9D9;
  }
}

.select-program li {
  position: relative;
  justify-content: start;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 13px;
    line-height: 40px;
  }
}

.select-program input {
  margin: 0;
  padding: 0;
  flex-grow: 0;
}

.select-program label {
  margin-left: 66px;
  
  @media (min-width: $tablet-width) {
    margin-left: 87px;
  }
}

.select-program__radio + label::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0px;
  left: 20px;
  border-radius: 50%;
  border: 1px solid #CDCDCD;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    left: 27px;
  }
}

.select-program__radio:checked + label::after {
  content: "";
  position: absolute;
  width: 13.5px;
  height: 13.5px;
  top: 8px;
  left: 28px;
  border-radius: 50%;
  background-color: #68B738;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    top: 11px;
    left: 38px;
  }
}



