.site-list {
  margin: 0;
  padding: 0;
  margin: 0 -20px;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    width: 478px;
  }
}

.site-list__item {
  margin: 0;
  padding: 20px 0;
  min-height: 66px;
  text-align: center;
  border-top: 1px solid #E6E6E6; 

  @media (min-width: $tablet-width) {
    padding: 45px 0;
    border: none;
  }

  &:last-child {
    border-bottom: 1px solid #E6E6E6; 

    @media (min-width: $tablet-width) {
      border: none;
    }
  }
}

.site-list a {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: inherit;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    color: #d12a2a;
  }
} 