.slider-control {
  display: flex;
  justify-content: space-between;
  width: 260px;
}

.slider-control__button {
  margin: 0;
  padding: 0;
  width: 50px;
  height: 30px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  border: none;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted #000000;
  }

  &:hover,
  &:focus {
    @media (min-width: $tablet-width) {
      border-bottom: 1px solid #575757;
    }
  }
}

.slider-control__toggle {
  position: relative;
  width: 84px;
  height: 14px;
  top: 6px;
  border: 1px solid #cdcdcd;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
    top: 11px;
    background-color: #dcdcdc;
  }
}

.slider-control__scale {
  position: absolute;
  width: 35px;
  height: 6px;
  top: 3px;
  left: 6px;
  border-radius: 6px;
  background: #68b738;
  border: none;

  @media (min-width: $tablet-width) {
    width: 34px;
    height: 34px;
    top: -14px;
    left: 46%;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    box-shadow: (0 1px 3px rgba(0, 0, 0, 0.16));
  }

  &:hover,
  &:focus {
    @media (min-width: $tablet-width) {
      box-shadow: (0 2px 4px rgba(0, 0, 0, 0.19));
      outline: none;
    }
  }

  &:active {
    @media (min-width: $tablet-width) {
      border: 1px solid #68b738;
      box-shadow: (0px 3px 5px rgba(0, 0, 0, 0.2));
    }
  }



  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      display: block;
      position: absolute;
      width: 8px;
      height: 8px;
      top: 13px;
      left: 37%;
      border-radius: 50%;
      background: #68b738;
      z-index: 1;
    }
  }
}
