.story {
  position: relative;
  background-color: #eaeaea;
  padding-top: 28px;
  min-height: 705px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-top: 44px;
    min-height: 1082px;
    background-color: #ffffff;
    border-top: 1px solid #e6e6e6;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    min-height: 621px;
    border: none;
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      min-height: 462px;
      bottom: 0;
      left: 0;
      background: #eaeaea;
      z-index: -1;
    }
  }
}

.story .container {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.story__wrapper {
  padding: 0 0 33px;

  @media (min-width: $desktop-width) {
    padding: 24px 0 65px;
  }

}

.story__description {
  margin-top: 37px;
  padding-right: 5px;
  font-family: "Arial", sans-serif;

  @media (min-width: $tablet-width) {
    margin-top: 63px;
    padding-right: 20px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 146px;
    width: 455px;
  }
}

.story__stats {
  margin: 24px 0 0;

  @media (min-width: $tablet-width) {
    margin: 53px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 68px 0 0;
  }
}

.story__slider {
  @media (min-width: $desktop-width) {
    margin: 13px 0 0;
  }
}