.story {
  position: relative;
  background-color: #EAEAEA;
  padding-top: 28px;
  min-height: 705px;
}

.story__description {
  margin-top: 37px;
  padding-right: 5px;
  font-family: "Arial", sans-serif;
}

.story__image {
  position: absolute;
}