.story-slider__images {
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 51px 0 0 16px;
  }

  @media (min-width: $desktop-width) {
    margin: -43px -40px 0 0;
  }
}

.story-slider__image {
  margin: 0 -20px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  &--before {
    @media (min-width: $tablet-width) {
      display: block;
      width: 48.84%;
      left: 0;
    }

    @media (min-width: $desktop-width) {
      width: 52.9%;
    }
    
    img {
      object-fit: none;
      object-position: left center;
      height: 100%;
    }
  }

  &--after {
    display: none;
    position: absolute;
    top: 0;

    @media (min-width: $tablet-width) {
      display: block;
      width: 51.16%;
      right: 0;
    }

    @media (min-width: $desktop-width) {
      width: 47.1%;
      top: -1px;
    }

    img {
      object-fit: none;
      object-position: right center;
      height: 100%;
    }
  }
}

.story-slider__control {
  margin: 26px auto 15px;
  width: 205px; 

  @media (min-width: $tablet-width) {
    margin: 12px auto 15px;
    width: 570px;
  }

  @media (min-width: $desktop-width) {
    margin: 33px 0 0 auto;
  }
}
